// Colors Bonitos UwU
$primary-color: #34495e;
$secondary-color: #f19100;
$dark-bg: #240042;
$light-bg: #2c005e;
$text-color: #ffffff;
$hover-color: #f1c40f;
$gradient: linear-gradient(135deg, $secondary-color, $secondary-color);
$card-gradient: linear-gradient(#411466, $dark-bg);

// Fuentes y Diferentes Versiones
$font-primary: 'Poppins', sans-serif;
$font-weight-bold: 800;
$font-weight-medium: 600;
$font-weight-light: 300;


// Navbar
.navbar {
    background: $gradient;
    padding: 15px;

    .navbar-brand {
        font-size: 24px;
        font-weight: $font-weight-medium;
    }

    .navbar-brand img{
        width: 10rem;
    }

    .nav-link {
        color: rgb(255, 255, 255) !important;
        font-weight: 500;
        transition: 0.3s;
        font-size: 1.1rem;

        &:hover {
            color: $light-bg !important;
        }
    }

    .navbar-toggler {
        border: none;
        outline: none;

        &:focus {
            box-shadow: none;
        }
    }
}


// Inicio
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    background: linear-gradient(135deg, rgba(44, 0, 94, 0.9), rgba(10, 4, 39, 0.9)), 
    url(../headers/Hero1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $text-color;
    font-family: $font-primary;
}

.hero_2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    background: linear-gradient(135deg, rgba(241, 143, 15, 0.9), rgba(241, 143, 15, 0.9)),
    url(../headers/Hero2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $text-color;
    font-family: $font-primary;
}

@media (max-width: 768px){
    .hero .title{
            font-size: 2.3rem;
            font-weight: bold;
                }

    .hero_2 .title{
            font-size: 2.3rem;
            font-weight: bold;
    }

    .hero_2 .description{
        font-size: 1rem;
    }
}


.title {
    font-size: 2.5rem;
    font-weight: $font-weight-bold;
    display: inline-block;
    border-radius: 5px;
}

.description {
    max-width: 600px;
    margin: 20px auto;
    font-size: 1.2rem;
    font-weight: $font-weight-light;
    color: lighten($text-color, 30%);
}

//ESTRENOS

.yellow_highlights{
    color: $secondary-color;
}

.estrenos-section {
    background: linear-gradient(135deg, $light-bg, #0a0427);
    padding: 60px 0;
    font-family: $font-primary;
    color: $text-color;

    .container {
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .fila {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
        border: 2px solid $secondary-color;
        padding: 2rem;
        border-radius: 15px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .estreno {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1.5rem;
        flex: 1;

        &:nth-child(even) {
            flex-direction: row;
        }

        .estreno-texto {
            flex: 1;

            .estreno-titulo {
                font-size: 1.8rem;
                font-weight: $font-weight-bold;
                color: white;
            }

        
            p {
                font-size: 1rem;
                line-height: 1.6;
                strong {
                    font-weight: $font-weight-bold;
                }
                em {
                    font-style: italic;
                }
            }
        }

        .estreno-imagen {
            flex: 1;
            img {
                width: 100%;
                max-width: 300px;
                border-radius: 8px;
                border: 2px solid $secondary-color;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            }
        }
    }
}





// Cards
.news-section {
    background: linear-gradient(135deg, $light-bg, #0a0427);
    padding: 60px 0;
    color: $text-color;
    font-family: $font-primary;

    .news-title {
        text-align: left;
        font-size: 2rem;
        font-weight: $font-weight-bold;
        margin-bottom: 3px;
    }

    .aditional_info {
        font-family: $font-primary;
        font-weight: $font-weight-light;
        font-size: 1.5rem;
    }

    .news-card {
        background: $card-gradient;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s;
        margin: 1rem;

        &:hover {
            transform: scale(1.02);
        }

        img {
            width: 100%;
            height: auto;
        }

        .news-content {
            padding: 20px;

            .news-category {
                font-size: 14px;
                font-weight: 500;
                color: $text-color;
                background-color: $secondary-color;
                display: inline-block;
                padding: 0.6rem 2rem;
                border-radius: 8px;
            }

            .news-heading {
                font-size: 18px;
                font-weight: $font-weight-medium;
                margin: 10px 0;
            }

            .news-description {
                font-size: 14px;
                opacity: 0.8;
            }

            .news-meta {
                font-size: 12px;
                opacity: 0.6;
                margin-top: 10px;
            }
        }
    }
}


// Mobiles 768px
@media (max-width: 768px) {
    .news-section {
        padding: 40px 10px;
    }

    .news-card {
        flex-direction: column;
        margin: 15px;
    }

    .title_subtitle {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news-title, .aditional_info {
        text-align: center;
    }
}


// Footer
.footer {
    background: $dark-bg;
    color: $text-color;
    padding: 30px 0;
    text-align: center;
    font-size: 14px;

    .footer-social {
        margin-bottom: 15px;

        a {
            color: $text-color;
            font-size: 20px;
            margin: 0 10px;
            transition: 0.3s;

            &:hover {
                color: $text-color;
            }
        }
    }

    .footer-links {
        h4 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .footer-line {
            width: 50px;
            height: 2px;
            background: $text-color;
            border: none;
            margin: auto;
            margin-bottom: 10px;
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            gap: 15px;

            li {
                display: inline;
            }

            a {
                color: $text-color;
                text-decoration: none;
                font-weight: 500;
                transition: 0.3s;

                &:hover {
                    color: $text-color;
                }
            }
        }
    }

    .footer-bottom {
        margin-top: 20px;

        .dmca img {
            height: 40px;
            margin-bottom: 5px;
        }

        p {
            margin: 5px 0;
            font-size: 12px;
            opacity: 0.8;
        }
    }
}
